# Dependencies
/node_modules
/vendor

# Build outputs
/dist
*.lock

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
.phpunit.result.cache

# Static Analysis
/build
/.phpstan.cache

# Environment
.env
.env.*
!.env.example

# Workbench
/workbench/database/database.sqlite
/workbench/storage/*
!/workbench/storage/.gitkeep
